html {
    overflow-y: scroll;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "dejavu sans", "bitstream vera sans", verdana, sans-serif;
    line-height: 1.5;
    /*background-color: #CCE4FF;
    background-color: #2C4766;*/
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    width: 890px;
    overflow: auto;
    background-color: white;
    /*border: 3px solid  #2C4766;
    border-width: 0 3px;*/
}

.site-heading {
    padding: 0 0 1px 0;
}

.main {
    float: left;
    width: 670px;
}

.sidebar {
    margin-left: 690px;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2C4766;
    font-family: "nimbus roman no9 l", "freeserif", "times new roman", serif;
    font-weight: normal;
    text-decoration: none;
}

.post h3 {
    margin-bottom: 0;
    font-size: 1.5em;
}

.post h4 {
    margin-bottom: 0;
    font-size: 1.3em;
    margin: 1em 0 0.5em 0;
}

.date {
    color: #666;
    margin-top: 0;
}

.topics {
    color: #666;
}

p, ol, ul, pre, table {
    font-size: 0.9em;
}

.tip {
    padding: 1em;
    background-color: #f8f8f8;
    margin: 1em 0;
}

.tip h3 {
    margin: 0;
}

.tip p {
    margin: 1em 0 0 0;
}

pre, code {
    font-family: Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono" ,monospace;
}

pre, pre code {
    background-color: #E6F2FF;
}

code {
    background-color: #EDF6FF;
}

pre {
    padding: 0.5em 1em;
}

input[type=button], input[type=submit] {
    margin-right: 1em;
    padding: 0.3em 1em;
    border: 0;
    border-radius: 1em;
    color: #fff;
    background-color: #900;
    cursor: pointer;
}

.admin h3 {
    margin-bottom: 0;
}

.status-published {
    color: #006600;
}

.status-unpublished {
    color: #900;
}

.show-post #admin-edit-post {
    display: none;
}

.edit-post #admin-show-post {
    display: none;
}

.action {
    text-decoration: underline;
    cursor: pointer;
    color: #0000ff;
}

table {
    border-spacing: 0;
}

td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0.2em 0.5em;
}
