<!DOCTYPE HTML>

<html lang=en>
  <head>
    <meta charset="utf-8" />
    <title>
      {#page}
        {?title}
          {title} &ndash; 
        {/title}
      {/page}
      Mike's corner of the web
    </title>
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=1" title="Basic" />
    <link href="{#Url_feed/}" type="application/atom+xml" rel="alternate" title="Latest posts" />
  </head>

  <body>
    <div class="content">
      <div class="site-heading">
        <h1><a href="/">Mike's corner of the web.</a></h1>
      </div>
      <div class="main">
        {+main:page/}
      </div>
      <div class="sidebar">
        {+sidebar/}
      </div>
    </div>
  </body>

</html>

