{>"base-public"/}

{<main}
  {#post}
    {>"snippets/post"/}
    
    <h3>Comments</h3>
    
    {#comments}
      <div class="comment">
        <h4>Posted by {authorName}, {date|dateTime}</h4>
        {body|plainTextToHtml|s}
      </div>
    {/comments}
    {^comments}
      <p>No comments</p>
    {/comments}
    
    <div id="leave-comment">
    
      <h4>Leave a comment</h4>
      
      <form action="{#Url_post post=./}#leave-comment" method="post">
      
        <div class="who-are-you">
          Enter something if you're a bot: <br /> <input type="text" name="who-are-you" />
        </div>
       
        <p>
          <label>
            Name: <br /> <input type="text" name="author-name" />
          </label>
        </p>
        <p>
          <label>
            E-mail address (not displayed): <br /> <input type="email" name="email-address" />
          </label>
        </p>
        <p>
          <label>
            Website (optional): <br /> <input type="text" name="website" />
          </label>
        </p>
    
        <p>
          <label>
            Comments: <br /> <textarea name="body"></textarea>
          </label>
        </p>
        
        <input type="submit" value="Leave comment" class="leave-comment-submit" />
      </form>
    </div>
  {/post}
{/main}
